@font-face
{
	font-family: "Pixel Operator";
	src: url("./res/PixelOperatorMono.ttf")  format("truetype");
}

@font-face
{
	font-family: "Pixel Operator Bold";
	src: url("./res/PixelOperatorMono-Bold.ttf")  format("truetype");
}

body
{
	background-color: #000000;
	color: #54FED9;

	line-height: 32px;
	font-family: "Pixel Operator";
	font-size: 32px;
	text-shadow: 0 0 5px #37B48A;

	overflow: hidden;
}

b
{
	font-family: "Pixel Operator Bold";
}

#scanlines
{
	position: absolute;
	top: 0px;
	left: 0px;

	width: 100%;
	height: 100%;

	background-image: url("./res/scanlines.png");
	opacity: 0.25;
}

#content
{
	position: absolute;
	top: 8px;
	left: 12px;

	width: calc(100% - 32px);
	height: calc(100% - 16px);
	overflow: hidden;

	opacity: 0.9;
}

pre
{
	font-family: "Pixel Operator";
	margin: 0;
}

pre:first-line
{
	line-height: 0;
}

#logoSpacer
{
	width: 1px;
	height: 12px;
}

#termText, #acceptInput, #userInput
{
	white-space: pre;
	vertical-align: top;
}

#termText *
{
	vertical-align: top;
}

#termText u
{
	text-decoration: none;
	border-bottom: 2px solid currentColor;
}

#acceptInput
{
	display: none;
}

#blockChar
{
	position: relative;
	top: 4px;

	width: 16px;
	height: 24px;
	background-color: #54FED9;
	box-shadow: 0 0 5px #37B48A;
	display: inline-block;
}

#textToDisplay
{
	display: none;
}

#vignette
{
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0px;
	left: 0px;

	box-shadow: inset 0 0 100px black;
	pointer-events: none;
}

#capInput
{
	opacity: 0;
	width: 0;
	overflow: hidden;
}